CMakeCache.txt
CMakeFiles/
iem
*.swp
*.swo
cmake_install.cmake
libglsw.a
Makefile
external/glfw3.h
external/FreeImage/Debug/
external/FreeImage/Release/
external/FreeImage/FreeImage.dir/
external/FreeImage/FreeImageTest.dir/
build/
imgui.ini
/external/FreeImage/*.cmake
/external/glfw-3.1.2/src/*.cmake
/external/gli/*.cmake
